body {
    margin: 0;
    padding: 0;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

textarea {
    width: 80%;
}

.instructions {
    margin: 20px;
    border: 1px solid black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 0 15px 15px 15px;
}

.container {
    display: table;
    height: 100%;
    width: 100%;
    margin: 20px;
}

.cell {
    display: table-cell;
    height: 100%;
    width: 50%;
    vertical-align: top;
}

.text-center {
    text-align: center;
}